.card-resources {
  width: 100%;
  display: block;
  background: $white;
  max-width: 376px;
  margin: 0 auto;
  border: 1px solid $light-grey;

  @media (min-width: breakpoint-min(lg)) {
    border: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &_content {
    padding: 32px;

    a {
      display: block;
      max-width: 100%;
      width: fit-content;
      width: max-content;
      overflow-wrap: break-word;
      text-decoration: none;
      font-weight: bold;
      margin-bottom: 16px;
      overflow-wrap: break-word;
    }
  }
}
