.card-hs {
  display: block;
  position: relative;
  background: $white;
  padding: 32px;
  max-width: 312px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: breakpoint-min(md)) {
    max-width: 512px;
  }

  &--content {
    p {
      font-size: 16px;
      line-height: 24px;
    }

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}
