.card-resources {
  width: 100%;
  display: block;
  background: $white;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &_content {
    padding: 32px;

    a {
      display: block;
      width: fit-content;
      width: max-content;
      text-decoration: none;
      font-weight: bold;
      line-height: 32px;
    }
  }
}
