.profile-page .entry-content {
    .profile-img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1rem;
    }
    .profile-name {
        color: $default-state;
        margin-bottom: 0;
        font-size: 1.75rem;
        line-height: 1.1em;
    }
    .profile-title {
        font-size: 1.125rem;
    }
    .profile-pronoun {
        color: $grey-60;
        padding-bottom: 0;
    }
    .profile-heading {
        color: $default-state;
        padding-top: 1.75rem;
    
        &::before {
            content: '';
            margin-right: 1rem;
            border-left: 8px solid #FFD100;
        }
    }
}

