.gallery-archive {
    background: linear-gradient(0deg,#f2f2f2 90%,#fff 0);

    @media (min-width: breakpoint-min(lg)){
        background: linear-gradient(0deg,#f2f2f2 70%,#fff 0);
    }

    .ucla.campus.entry-content > div > *:not(.fluid):not(.post-info):first-child, .ucla.campus.entry-content > div > .wp-block-column {
        padding-top: 0;
    }

    .basic-card, .basic-card-grey, .basic-card-gray {

        @media (max-width: breakpoint-min(md)) {
            display: block;
            margin: 32px auto 0;
        }

        @media (min-width: breakpoint-min(lg)) {
            width: 31%;
            max-width: 31%;
        }


     
        a {
            color: $grey;
            text-decoration: none;
        }
        a:hover {
            color: $grey;
        }

        a:not(.page):visited {
            color: $grey;
        }
    }
}

.gallery-page {
    .gallery-img {
        width: 100%;
        padding-bottom: 6px;
    }

    .featured-caption {
        font-size: 12px;
    }

    .section-wrapper{ 
        background: $grey-10;
    }

    #related-card {
        width: 100%;
    }

    .basic-card, .basic-card-grey, .basic-card-gray {
        display: block;
        margin: 0 auto 28px;
    }

    @media (min-width: breakpoint-min(xl)) {
        .splide__arrow {
            position: absolute;
            top: 45%;
    
            &--prev {
                left: -3rem;
            }
            &--next {
                right: -3rem;
            }
    
        }
    }
}