.profile-page {
    .profile-img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.profile-heading::before {
    content: '';
    margin-right: 1rem;
    border-left: 8px solid #FFD100;
}