.footer {
  &__dept {
    &--links-wrapper {
      display: block;

      & > ul#menu-footer-menu {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0;

        & > li {
          width: 100%;
          margin-bottom: 1rem;
          flex-basis: 50%;
          white-space: nowrap;

          &:not(:last-of-type) {
            margin-right: 0;

            @media (min-width: breakpoint-min(sm)) {
              margin-right: 4rem;
            }
          }

          & > a {
            display: inline-block;
            margin-bottom: 0.75rem;
            font-size: 1rem;
            font-weight: bold;
          }

          @media (min-width: breakpoint-min(md)) {
            flex-basis: auto;
            margin-bottom: 0;
          }
          
          & ul {
            display: block;

            & > li {
              font-size: 0.875rem;
              margin-bottom: 0.75rem;

              a {
                font-weight: 400;
              }

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }

        @media (min-width: breakpoint-min(md)) {
          flex-wrap: nowrap;
        }
      }
    }

    &--wrapper {
      max-width: 1176px;
      margin: 0 auto;

      .footer__dept--logo {
        width: 75%;

        @media (min-width: breakpoint-min(md)) {
          width: 100%;
        }
      }
    }

    &--social {
      & > a {
        line-height: 0;
      }

      & > a, & > a > img {
        width: 36px;

        @media (min-width: breakpoint-min(sm)) {
          width: 38px;
        }
      }
    }
  }

  .foot-lower {
    padding-top: 32px;
    padding-bottom: 32px;

    &-wrap {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      @media (min-width: breakpoint-min(sm)) {
        flex-direction: row;
      }

      @media (min-width: breakpoint-min(md)) {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      @media (min-width: breakpoint-min(lg)) {
        flex-direction: row;
      }
    }

    &-social {
      margin: 0 auto;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;

        li {
          height: 36px;
          display: inline-block;

          a {
            text-decoration: none;
            display: inline-block;
            line-height: 0;

            .social-icon {
              width: 36px;
              height: 36px;
              display: block;
              content: "";
              background-size: contain;
            }
            .social-icon--facebook {
              background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/facebook--brand.svg');
            }
            .social-icon--twitter {
              background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/twitter--brand.svg');
            }
            .social-icon--instagram {
              background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/instagram--brand.svg');
            } 
            .social-icon--snapchat {
              background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/snapchat--brand.svg');
            } 
            .social-icon--linkedin {
              background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/linkedin--brand.svg');
            } 
            .social-icon--youtube {
              background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/youtube--brand.svg');
            }
            .social-icon--tiktok {
              background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/tiktok--brand.svg');
            }
            &:hover {
              .social-icon--facebook {
                background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/facebook--white.svg');
              }
              .social-icon--twitter {
                background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/twitter--white.svg');
              }
              .social-icon--instagram {
                background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/instagram--white.svg');
              } 
              .social-icon--snapchat {
                background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/snapchat--white.svg');
              }
              .social-icon--linkedin {
                background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/linkedin--white.svg');
              } 
              .social-icon--youtube {
                background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/youtube--white.svg');
              } 
              .social-icon--tiktok {
                background-image: url('https://webcomponents.ucla.edu/build/1.0.0/icons/social/tiktok--white.svg');
              }
            }
          }
        }
      }

      @media (min-width: breakpoint-min(sm)) {
        order: 3;
        margin: 0;
      }
    }

    &-copyright {
      font-size: 0.875rem;
      margin: 1rem 0;

      @media (min-width: breakpoint-min(sm)) {
        margin-top: 0;
        margin-bottom: 1rem;
      }

      @media (min-width: breakpoint-min(md)) {
        margin: 0;
      }
    }

    &-toc {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: block;
          margin-right: 1rem;

          &:last-child {
            margin-right: 0;
          }

          a {
            color: $ucla-blue;
            text-decoration: none;
            font-weight: bold;
            font-size: 0.875rem;

            &:hover {
              background: $ucla-blue;
              color: $white;
            }
          }

          @media (min-width: breakpoint-min(md)) {
            display: inline;
          }
        }
      }

      @media (min-width: breakpoint-min(lg)) {
        margin: 0 auto;
      }
    }
  }
}

.visuallyhidden {
  position: absolute !important; // social icon span override
}