.front-page-hero {
  background: $lightest-blue;
  padding-bottom: 32px;

  @media (min-width: breakpoint-min(lg)) {
    padding-bottom: 0;
    height: 384px;
  }

  &__info {
    @media (min-width: breakpoint-min(lg)) {
      width: 50%;
      float: left;
      display: inline-block;
      position: relative;
      height: 384px;
    }

    &--wrap {
      display: block;
      position: relative;
      z-index: 2;
      margin: -19px 24px 0;
      padding: 16px;
      background: $white;


      @media (min-width: breakpoint-min(lg)) {
        max-width: 600px;
        padding: 32px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -100px;
      }
    }

    a {
      display: block;
    }
  }

  &__title {
    padding-bottom: 16px;
  }

  &__intro {
    a {
      margin-top: 16px;
    }
  }

  &__image {
    height: 180px;
    display: block;

    @media (min-width: breakpoint-min(md)) {
      height: 384px;
    }

    @media (min-width: breakpoint-min(lg)) {
      width: 50%;
      float: right;
    }

    img {
      display: block;
      width: 100%;
      height: 180px;
      object-fit: cover;
      object-position: center;

      @media (min-width: breakpoint-min(md)) {
        height: 384px;
      }
    }
  }
}
