.front-page-hero {
  background: $lightest-blue;
  padding-bottom: 32px;

  &__info {
    display: block;
    position: relative;
    z-index: 2;
    margin: -19px 24px 0;
    padding: 16px;
    background: $white;
  }

  &__title {
    padding-bottom: 16px;
  }

  &__intro {
    a {
      margin-top: 16px;
    }
  }

  &__image {
    height: 180px;
    display: block;

    img {
      display: block;
      width: 100%;
      height: 180px;
      object-fit: cover;
      object-position: center;
    }
  }
}
