#header {
  display: block;
  position: relative;

  @media (min-width: breakpoint-min(md)) {
    min-height: 183px;
  }

  .header-logo {
    display: block;
    background: $ucla-blue;
    padding: 12px;
    max-height: 48px;

    &__wrap {
      display: block;
      max-width: 1176px;
      margin: 0 auto;

      img {
        display: block;
        height: 24px;
        position: relative;
      }
    }
  }

  .site-name {
    display: block;
    max-width: 1176px;
    margin: 0 auto;
    padding-top: 24px;

    a {
      color: $black;
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;

      @media (min-width: breakpoint-min(md)) {
        font-size: 36px;
      }

      &:hover {
        background: none;
      }
    }
  }

  .nav-wrap {
    display: block;
    max-width: 1176px;
    margin: 0 auto;
    padding-top: 24px;
    position: relative;
  }
}
