// .page-header {
//   border-bottom: 1px solid $grey-10;
//   margin-bottom: 32px;

//   @media (min-width: breakpoint-min(lg)) {
//     margin-bottom: 64px;
//   }

//   h1 {
//     padding: 20px 0 40px 0;
//   }

//   p.intro {
//     font-size: 24px;
//     line-height: 30px;
//     color: $grey-80;
//     max-width: 776px;
//     padding-bottom: 40px;

//     @media (min-width: breakpoint-min(lg)) {
//       padding-bottom: 80px;
//     }
//   }
// }

.ucla.campus {
  &.masthead {
    padding-top: 32px;
    padding-bottom: 24px;

    h1 {
      padding: 0;
      margin-bottom: 0;
    }

    @media (min-width: breakpoint-min(lg)) {
      padding-top: 64px;
      padding-bottom: 32px;
    }
  }
}