// List Reset
nav#menu {
  div[class^="menu"] > ul {
    li {
      margin-bottom: 0;
      line-height: 16px;

      &::before {
        display: none;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}

// Primary Nav
#menu {
  display: block;
  right: 24px;
  transition: right 0.5s ease;
  position: absolute;
  background: $white;
  width: calc(100% + 46px) !important;
  height: calc(100vh - 112px);
  z-index: -1;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid $medium-grey3;
  top: -7px;

  &::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

  @media (min-width: breakpoint-min(md)) {
    width: 320px !important;
    top: 8px;
    position: absolute !important;
    right: -24px;
  }

  @media only screen and (max-width: 1224px) and (min-width: 1024px) {
    margin-right: 30px !important;
  }

  @media (min-width: breakpoint-min(lg)) {
    display: block;
    position: absolute;
    opacity: 1;
    height: 38px;
    width: fit-content !important;
    width: max-content !important;
    max-width: 1176px;
    margin: 0 auto;
    right: 0;
    top: 97px;
    overflow: visible;
    border: 0;
  }

  &.is-active {
    display: block;
    transition: right 0.5s ease;
    opacity: 1;
    z-index: 10;

    @media (min-width: breakpoint-min(md)) {
      right: -24px;
    }
  }

  div[class^="menu"] {
    @media (min-width: breakpoint-min(lg)) {
      display: inline-block;
    }

    ul {
      padding-inline-start: 0;
      width: 100%;
      background: $white;
      position: absolute;
      right: 0;
      margin-block-start: 0;
      margin-block-end: 0;

      @media (min-width: breakpoint-min(lg)) {
        width: auto;
        position: relative;
        display: inline-block;
      }

      li {
        max-width: 100%;

        &:last-of-type {
          padding-bottom: 50px;

          @media (min-width: breakpoint-min(lg)) {
            padding-bottom: 0;
          }
        }

        &.current-menu-item {
          // This is the yellow bar under top level active item link
          &:hover {
            a.current-page {
              @media (min-width: breakpoint-min(lg)) {
                &::after {
                  display: none;
                }
              }
            }

            button.current-page {
              @media (min-width: breakpoint-min(lg)) {
                &::after {
                  display: none;
                }
              }
            }
          }

          a.current-page {
            @media (min-width: breakpoint-min(lg)) {
              &::after {
                display: block;
                position: relative;
                content: '';
                width: 100%;
                margin: 0 auto;
                top: 5px;
                height: 4px;
                background: $ucla-gold;
                z-index: 5;
              }
            }
          }

          button.current-page {
            @media (min-width: breakpoint-min(lg)) {
              &::after {
                display: block;
                position: relative;
                content: '';
                width: 100%;
                margin: 0 auto;
                top: -1px;
                left: -6px;
                height: 4px;
                background: $ucla-gold;
                z-index: 5;
              }
            }
          }
          // Yellow bar end
        }
        // START LARGE BREAKPOINT FOR TOP LEVEL LIST ITEM
        @media (min-width: breakpoint-min(lg)) {
          height: 38px;
          float: left;
          position: relative;

          a {
            color: $default-state;

            ~ ul {
              position: absolute;
              left: 0;
            }

            &:focus {
              outline: 1px dotted $hover-state;
              outline-offset: -4px;

              ~ ul {
                display: block;
                top: 38px;
              }
            }
          }

          // START LARGE MENU HOVER STATES
          &:hover {
            background: $hover-state;

            a {
              color: $white;
            }

            .has-child {
              &--button {
                background: $hover-state;
                border-bottom: 0 !important;
                -moz-appearance: none;
                -webkit-appearance: none;

                svg {
                  g {
                    .Path-polygon {
                      fill: $white;
                    }
                  }
                }
              }
            }

            ul {
              display: block;
              position: absolute;
              left: 0;
              top: 38px;

              li {
                a {
                  color: $ucla-blue;
                }
              }
            }
          }
          // END LARGE MENU HOVER STATES

          &:last-of-type {
            a {
              border-bottom: 0 !important;
            }
          }
        }
        // END LARGE BREAKPOINT

        &:last-of-type {
          a {
            border-bottom: 1px solid $medium-grey3;
          }
        }

        a {
          padding: 14px 0 14px 24px;
          font-weight: bold;
          font-size: 16px;
          display: inline-block;
          width: calc(100% - 25px);
          border-top: 1px solid $medium-grey3;
          color: $default-state;

          &:hover {
            background: $hover-state;
            color: $white;
          }

          @media (min-width: breakpoint-min(lg)) {
            border-top: 0;
            padding: 9px 9px;
          }

          &.current-page {
            border-left: 4px solid $ucla-gold;

            @media (min-width: breakpoint-min(lg)) {
              border-left: 0;
            }

            &:hover {
              border-left: 0;
            }
          }

          &:focus {
            outline: 1px dotted $hover-state;
            outline-offset: -8px;
          }

          &.menu-item-has-children--link {
            @media (min-width: breakpoint-min(lg)) {
              margin-right: 32px;
              padding: 9px;

              &:focus {
                outline: 1px dotted $hover-state;
              }
            }
          }
        }

        .has-child {
          &--button {
            -webkit-appearance: none;
            -moz-appearance: none;
            background: $white;
            height: 46px;
            width: 48px;
            display: block;
            position: absolute;
            right: 0;
            margin-top: -45px;
            border: 1px solid $medium-grey3;
            border-right: 0;
            z-index: 5;

            @media (min-width: breakpoint-min(lg)) {
              background: rgba(0, 0, 0, 0);
              width: auto;
              height: 33px;
              margin-top: -34px;
              border: 0;
            }

            &:hover {
              background: $hover-state;
              cursor: pointer;

              svg {
                g {
                  .Path-polygon {
                    fill: $white;
                  }
                }
              }
            }

            &:focus {
              outline: 1px dotted $hover-state;
              outline-offset: -4px;
            }

            &.is-active {
              svg {
                display: block;
                margin: 0 auto;
                position: relative;
                transform: rotate(180deg);
              }
            }
          }
        }

        // This affects the second level ul or submenu items only
        ul {
          display: none;

          @media (min-width: breakpoint-min(lg)) {
            top: 38px;
          }

          &.is-active {
            display: block;
            position: inherit;

            @media (min-width: breakpoint-min(lg)) {
              display: block;
              position: absolute;
              left: 0;
              top: 44px;
            }
          }

          li {
            min-height: 45px;
            height: auto;

            &:last-of-type {
              padding-bottom: 0;

              a {
                border-bottom: 0;

                @media (min-width: breakpoint-min(lg)) {
                  border-bottom: 1px solid $medium-grey3 !important;
                }
              }
            }

            a {
              padding: 14px 24px 14px 40px;
              width: calc(100% - 50px);
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              display: inline-block;
              border-top: 1px solid $medium-grey3;
              border-left: 1px solid $medium-grey3;
              border-right: 1px solid $medium-grey3;
              background: $lightest-grey-2;

              @media (min-width: breakpoint-min(lg)) {
                padding: 14px 24px 14px 24px;
                background: $white;
                width: calc(320px - 48px);
              }

              &.is-active {
                @media (min-width: breakpoint-min(lg)) {
                  border-left: 4px solid $ucla-gold;
                  width: calc(320px - 51px);

                  &:hover {
                    width: calc(320px - 47px);
                  }
                }
              }

              &:hover {
                background: $hover-state;
                color: $white;
              }

              &.current-page {
                border-left: 4px solid $ucla-gold !important;

                @media (min-width: breakpoint-min(lg)) {
                  width: calc(320px - 47px);
                  padding: 14px 24px 14px 20px;

                  &:hover {
                    border-left: 0 !important;
                    width: calc(320px - 46px);
                    padding: 14px 24px 14px 24px;
                  }

                  &::after {
                    display: none !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


/************************
Safari Only styles
************************/
html.safari {
  body {
    header.header {
      overflow: visible !important;
    }
  }
}

/************************
Firefox Only styles
************************/
@media (min-width: breakpoint-min(lg)) {
  html.firefox body #menu {
    div[class^="menu"] {
      ul li .has-child--button {
        height: 33px;
        margin-top: -1px;
        top: 1.5px;

        &.current-page::after {
          @media (min-width: breakpoint-min(lg)) {
            top: -2px;
            left: -8px;
          }
        }
      }
    }

    .search-desktop {
      top: -12px;

      @media (min-width: breakpoint-min(lg)) {
        top: -18px;
      }
    }
  }
}

/************************
IE 11 Only styles
************************/
@media (min-width: breakpoint-min(lg)) {
  html.msie body #menu {
    width: auto;
    top: 20px;

    div[class^="menu"] ul li a ~ ul {
      top: 23px;
      left: -20px;
    }

    .search-desktop {
      top: -33px;
    }
  }
}
