// This style sheet overrides the gutenberg core block "Seperator".
.wp-block-separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e5e5;
  margin: 1em 0;
  padding: 0;

  &.fluid {
    display: block;
    position: absolute;
    z-index: 4;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 2px;
  }
}
