/* Mixin helpers go here */
@mixin fluid-blade-two() {

  &--grey-05 {
    background: $grey-5;
    &:before{
      background: $grey-5;
    }
  }

  &--grey-40 {
    background: $grey-40;
    &:before{
      background: $grey-40;
    }
  }

  &--lightest-grey-2 {
    background: $lightest-grey-2;
    &:before{
      background: $lightest-grey-2;
    }
  }

  &--light-grey {
    background: $light-grey;
    &:before{
      background: $light-grey;
    }
  }

  &--ucla-blue {
    background: $ucla-blue;
    &:before{
      background: $ucla-blue;
    }
  }

  &--darker-blue {
    background: $darker-blue;
    &:before{
      background: $darker-blue;
    }
  }

  &--white {
    background: $white;
    &:before{
      background: $white;
    }
  }
}

@mixin fluid-blade-three() {

  &-grey-40 {
    background: $grey-40;
    &:before{
      background: $grey-40;
    }
  }

  &-lightest-grey-2 {
    background: $lightest-grey-2;
    &:before{
      background: $lightest-grey-2;
    }
  }

  &-light-grey {
    background: $light-grey;
    &:before{
      background: $light-grey;
    }
  }

  &-ucla-blue {
    background: $ucla-blue;
    &:before{
      background: $ucla-blue;
    }
  }

  &-darker-blue {
    background: $darker-blue;
    &:before{
      background: $darker-blue;
    }
  }

  &-white {
    background: $white;
    &:before{
      background: $white;
    }
  }
}
