//**********
//*** Gutenberg Overides
//*** Fix a bug that cuased between the gutenberg editor and the component library.
//**********
//*** Scroll down for Gutenberg extending below
//**********
// .wp-block-table {
//   overflow-y: hidden;
//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */

//   &::-webkit-scrollbar {
//     display: none;
//   }

//   figcaption {
//     display: block;
//     position: relative;
//     font-size: 11px;
//     margin-left: 12px;
//     font-style: italic;
//     padding: 4px;
//   }

//   &.is-style-stripes.total {
//     tfoot {
//       background: $default-state-dark;
//     }
//   }
// }

// .has-large-font-size,
// .has-medium-font-size {
//   line-height: 1.2;
// }

// .has-huge-font-size {
//   line-height: 1.1;
// }

// .wp-block {
//   &-group.has-background {
//     padding: 16px;
//     margin: 24px 0 0;

//     @media (min-width: breakpoint-min(md)) {
//       padding: 32px;
//       margin: 0;
//     }
//   }

//   &-separator {
//     margin: 32px 0;

//     @media (min-width: breakpoint-min(md)) {
//       margin: 64px 0;
//     }
//   }

//   &-embed {
//     color: #333333;
//     font-family: Helvetica;
//     font-size: 16px;
//     font-style: oblique;
//     letter-spacing: 0;
//     line-height: 24px;
//   }
// }

//**********
//*** Gutenberg Extension
//*** Fix a bug that cuased between the gutenberg editor and the component library.
//**********
//*** Scroll up for Gutenberg overiding above
//**********

// Updated Fluid removed from jquery
.fluid {
  position: relative;
  padding: 40px 24px;
  &:before{
    content: "";
    padding: 0 100vw;
    margin: 0 -100vw;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  &.has-background{
    @include fluid-blade-three(); // Mixin found on sass/utilities/_mixins/_mixins.scssß
  }
  @media (min-width: breakpoint-min(lg)) {
    padding: 80px 0;
  }
}

.ucla.campus {
    .fluid {
      .expander {
        @include fluid-blade-two(); // Mixin found on sass/utilities/_mixins/_mixins.scssß

        &-container {
          display: block;
          max-width: 1176px;
          margin: 0 auto;
          padding: 40px 0;

          @media (min-width: breakpoint-min(lg)) {
            padding: 80px 0;
          }
        }
      }
    }
  }

